<table class="table">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Regissör</th>
      <th>Längd</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Revenant</td>
      <td>Alejando G. Inarritu</td>
      <td>2:36</td>
      <td><button class="pull-right btn btn-xs btn-danger">&times;</button></td>
    </tr>
    <tr>
      <td>Deadpool</td>
      <td>Tim Miller</td>
      <td>1:48</td>
      <td><button class="pull-right btn btn-xs btn-danger">&times;</button></td>
    </tr>
    <tr>
      <td>Star Wars: The Force Awakens</td>
      <td>J.J. Abrams</td>
      <td>2:16</td>
      <td><button class="pull-right btn btn-xs btn-danger">&times;</button></td>
    </tr>
    <tr>
      <td>The Danish Girl</td>
      <td>Tom Hooper</td>
      <td>2:00</td>
      <td><button class="pull-right btn btn-xs btn-danger">&times;</button></td>
    </tr>
  </tbody>
</table>