<form action="">
  <fieldset>
    <div class="form-group">
      <label for="movie">Visning:</label>
      <select name="movie" id="movie" class="form-control"></select>
    </div>
    <hr>
    <div class="form-group">
      <label for="name">Namn:</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">E-post:</label>
      <input type="email" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="card">Kortnummer:</label>
      <input type="text" name="card" id="card" class="form-control">
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="expires">Gilitgt t.o.m.:</label>
          <input type="text" name="expires" id="expires" class="form-control" placeholder="YY/MM">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cvc">CVC:</label>
          <input type="text" name="cvc" id="cvc" class="form-control">
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block">Lägg till bokning</button>
  </fieldset>
</form>