<form action="">
  <fieldset>
    <div class="form-group">
      <label for="title">Titel:</label>
      <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="director">Regissör:</label>
      <input type="text" name="director" id="director" class="form-control">
    </div>
    <div class="form-group">
      <label for="length">Längd:</label>
      <input type="time" name="length" id="length" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Beskrivning:</label>
      <textarea name="description" id="description" rows="6" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary btn-block">Lägg till film</button>
  </fieldset>
</form>